// challenge modal
.challenge-modal{
  display: none;
  z-index: 100000;
  position:fixed;
  border-radius: 20px;
  overflow:hidden;
  top: 8vh;
  left: 8vw;
  border: none;

}
// to show pop-up modal on 'View/edit details' click
.show{
  display: block;
}

.opacity{
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
}

.modal-container{
  width: 84vw;
  height: 84vh;

  .modal-details{
    display: inline-flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }

  .half-modal{
    width: 50% !important;

    &.left{
      padding: 30px 30px;
      background: #fff;
    }

    &.right{
      position: relative;
    }
  }

  #modal-close{
    position: absolute;
    z-index: 100000000;
    left: 90%;
    top:2%;
    img{
      width: 25px;
      height: 25px;
    }
  }
}
