//hero banner
.hero-banner{
  // background: $off-white;
  height: 430px;
  padding-bottom: 60px;
  padding-top:200px;
  margin-bottom: 100px;

  img{
    // padding: 28px;
    width: 300px;
    display: none;
  }

  h1{
    width: 50%;
    font-weight: 900;
    margin-bottom: 32px;
  }
  .button{
    font-size: 20px !important;
    margin-right: 4px;
  }
}

// description banner

.description-banner{
  height: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .container{
    background-color: $off-white;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 40px;
  }

  h3{
    width: 25%;
  }

  .use-cases{
    width: 22%;
    height: 180px;
    font-size: 18px;
    // background-color: $beige;
    border: $charcoal 1px solid;
    // border-radius: 20px;
    padding: 32px 26px 18px 26px;
    margin: 2px;

    &:hover{
      background-color: $mint;
      // color: $off-white
    }
    p{
      padding-bottom: 6px;
    }
    hr{
      width: 25%;
      border: #6FFFA0 solid 6px;
    }
  }

  // p{
  //   font-size: 24px;
  //   font-weight: 400;
  //   margin: auto;
  //   padding: 48px 320px 48px 48px;
  // }
}

// how it works banner
// numbering for how it works

.bottom-banner {
  li{
    display: inline-flex;

    p{
      width: 80%;
    }
  }
}

.home-marker{
  width: 41px !important;
  padding-top: 8px;
  height: 41px;
  border: $charcoal 0.5px solid;
  box-shadow: $charcoal 2px 2px;
  background-color: $mint;
  border-radius: 100px;
  margin-right: 20px;
  padding-left: 16px;
}


.bottom-banner{

  .how-it-works{
    position: relative;
    display: inline-block;
    // height: 420px;
    margin-top: 100px;
    margin-bottom: 20px;

  }

  img{
    width: 54%;
    height: 116%;
    margin-right: 16px;
    box-shadow: $charcoal 6px 6px;
    border: $charcoal 1px solid;
  }

  &.guide{
    width: 45%;
    font-size: 18px !important;
    background-color: none;
    margin-bottom: 40px;

    h2{
      font-weight: 700;
      font-size: 38px;
      padding: 16px 48px 16px;
    }
    ul{
      list-style: none;
      margin: auto;
    }
    li{
      margin-bottom: 16px;
      display: inline-flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      div:nth-child(2){
        width: 85%;
      }
    }
    i{
      color: $green;
      margin-right: 8px;
    }
  }

  .button{
    font-size: 20px !important;
    margin: 0 auto;
    margin-right: 4px;
  }
  .buttons{
    margin-left: 36%;
    margin-bottom: 80px;
  }

  .newsletter{
    background: $charcoal;
    border-radius: 10px;
    justify-content: center;

    #button-addon2{
      background-color: $charcoal;
      color: $off-white;
    }

    &.content{
      display: flex;
    }
    .subscribe{
      // width: 50%;
      display: flex;
      padding: 30px 42px;
      justify-content: center;
      align-items: center;
      &.form{
        background-color: $beige;
        border-radius: 5px;
        width: 371px;
        height: 153px;
        display: inline;
        h3{
          font-weight: 600;
          font-size: 24px;
        }
      }
  }
}
    .info{
      color: $off-white;
      width: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
      h2{
        font-weight: 700;
        font-size: 38px;
      }
      p{
        font-size: 16px;
      }
    }
}

.footer{
  background: $off-white;
  .logo-footer{
    height: 20px;
  }
  #footer-tagline{
    font-size: 20px;
    color: $charcoal;
    margin-right: 4px;
  }
}

.footer .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:5px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  color: rgba(0, 0, 0, 0.3);
  // padding-top: 80px !important;
  // padding-bottom: 120px !important;
  padding: 50px 0px;
  margin-top:50px;
  vertical-align: top;

  img{
    height: 20px;
    width: auto;
    margin-top: -8px;
  }

  hr{
    border: $beige 1px solid;
    padding-top: 8px;
  }
}
.footer-copyright{
  width: 320px;
  color: #fff;
  p {
    opacity: 0.6;
  }
}

.footer-items{
  ul{
    display: flex;
    margin:auto
  }
  li{
    list-style: none;
    text-decoration: none;
    margin: 0px 8px;
    a{
      color: $charcoal;
      margin: 0px 24px;
    }
  }
}

.footer-links {
  display: flex;
  margin-left: 138px;

}

.footer-links a {
  color: $charcoal;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
