//hero banner
.hero-banner{
  // background: $off-white;
  height: 430px;
  padding-bottom: 60px;
  padding-top:180px;
  margin-bottom: 40px;
  img{
    // padding: 28px;
    width: 300px;
    display: none;
  }
  h1{
    width: 50%;
    font-weight: 900;
    margin-bottom: 32px;
  }
}

// description banner

.description-banner{
  height: 320px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  .container{
    background-color: $off-white;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 60px 40px 120px 40px;
    // border-radius: 20px;
  }

  .use-cases{
    width: 22%;
    height: 180px;
    font-size: 18px;
    // background-color: $beige;
    border: $charcoal 1px solid;
    // border-radius: 20px;
    padding: 32px;
    margin: 2px;
    p{
      padding-bottom: 6px;
    }
    hr{
      width: 25%;
      border: RGBA(110, 255, 161, 0.4) solid 6px;
    }
  }

  // p{
  //   font-size: 24px;
  //   font-weight: 400;
  //   margin: auto;
  //   padding: 48px 320px 48px 48px;
  // }
}

// how it works banner
// numbering for how it works

.bottom-banner {
  li{
    display: inline-flex;

    span{
      width: 90%;
    }
  }
}
.home-marker{
  width: 41px !important;
  height: 41px;
  border: $charcoal 0.5px solid;
  text-align: center;
  box-shadow: $charcoal 2px 2px;
  background-color: $mint;
  border-radius: 100px;
  margin-right: 10px;
}


.bottom-banner{

  .how-it-works{
    position: relative;
    display: inline-block;
    height: 420px;
  }

  img{
    position: absolute;
    top: -7%;
    left: -2%;
    width: 46%;
  }
  &.guide{
    width: 45%;
    font-size: 18px !important;
    position: absolute;
    left: 52%;
    background-color: none;


    h2{
      font-weight: 700;
      font-size: 46px;
      padding: 48px 48px 16px;
    }
    ul{
      list-style: none;
      margin: auto;
      padding-left: 58px;
    }
    li{
      margin-bottom: 14px;
      // font-weight: bol;
    }
    i{
      color: $green;
      margin-right: 8px;
    }
  }

  a{
    margin: 72px 24px;
    text-align: center;
  }
  .newsletter{
    background: $charcoal;
    height: 385px;
    border-radius: 10px;
    justify-content: center;
    &.content{
      display: flex;
    }
    .subscribe{
      // width: 50%;
      display: flex;
      padding: 30px 42px;
      justify-content: center;
      align-items: center;
      &.form{
        background-color: $beige;
        border-radius: 5px;
        width: 371px;
        height: 153px;
        display: inline;
        h3{
          font-weight: 600;
          font-size: 24px;
        }
      }
  }
    }
    .info{
      color: $off-white;
      // width: 50%;
      align-items: center;
      justify-content: center;
      display: flex;
      h2{
        font-weight: 700;
        font-size: 38px;
      }
      p{
        font-size: 16px;
      }
    }
}

.footer {
  background: $off-white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius:5px;
  width: 100%;
  margin: 0 auto;
  height: auto;
  color: rgba(0, 0, 0, 0.3);
  // padding-top: 80px !important;
  // padding-bottom: 120px !important;
  padding: 50px;
  margin-top:50px;
  vertical-align: top;
  img{
    height: 60px;
    width: auto;
  }
}
.footer-copyright{
  width: 320px;
  color: #fff;
  p {
    opacity: 0.6;
  }
}

.footer-items{
  ul{
    display: flex;
    margin:auto
  }
  li{
    list-style: none;
    text-decoration: none;
    margin: 0px 8px;
    a{
      color: $charcoal;
      margin: 0px 24px;
    }
  }
}

.footer-links {
  display: flex;
  margin-left: 138px;

}

.footer-links a {
  color: $charcoal;
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}
