// Specific CSS for your home-page
.hero-banner{
  background: $beige;
  height: 450px;
  padding-top: 32px;
  padding-left: 100px;
  img{
    // padding: 28px;
    width: 300px;
  }
  h1{
    width: 50%;
    font-weight: 900;
    margin-bottom: 32px;
  }
}

.description-banner{
  height: auto;
  padding: 16px 48px;

  p{
    font-size: 24px;
    font-weight: 400;
    margin: auto;
    padding: 48px 384px 48px 48px;
  }
}

.bottom-banner{
  height: 800px;
  background: $beige;
  img{
    width: 548px;
    height: 437px;
  }
  &.guide{
    width: 58%;

    h2{
      font-weight: 700;
      font-size: 46px;
      padding: 48px 48px 16px;
    }
    ul{
      list-style: none;
      margin: auto;
      padding-left: 58px;
    }
    li{
      font-size: 28px;
      margin-bottom: 14px;
      // font-weight: bol;
    }
    i{
      color: $green;
      margin-right: 8px;
    }
  }
}

.newsletter{
  background: $charcoal;
  height: 400px;
  border-radius: 5px;
}
