  <div class="container user-show">
      <div class="d-flex py-3">
        <h1 id="dashboard-header">Dashboard</h1>
          <%= render "shared/search" %>
          <div class="d-flex text-center pt-2" >
            <%= link_to "Create a game", new_user_session_path, class: "button beige" %>
          </div>
      </div>
      <div class="row card-row">

      <% time = Time.now %>

      <% upcoming = @games.where('start >= ?', time) %>
      <% upcoming.sort_by { |el| el[:start] }.each do |game| %>
        <%= render "shared/games_card", { game: game } %>
      <% end %>
      <% time = Time.now %>
      <% completed = @games.where('start < ?', time) %>
      <% completed.sort_by { |el| el[:start] }.each do |game| %>
        <%= render "shared/games_card", { game: game } %>
      <% end %>
    </div>
  </div>
