<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">
    <div class="col-md-5">
      <div class="form">
        <i class="fa fa-search"></i>
        <input type="text" class="form-control form-input" placeholder="Search games...">
      </div>
    </div>
  </div>
</div>
