<div class="background"></div>

<div class="container confirmation-box">
<br>
<br>
<h1 class="title" >Welcome to Trace!</h1>
<h3 class="title" >Join a Game</h3>
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="title justify-content-center">
        <input class="code" type="text" placeholder="enter game code here">
      </div>
    </div>
  </div>
</div>

  <%= form_with(method: "get") do %>
    <%= text_field_tag(:code) %>
  <% end %>
