<div class="container page-container">
  <div class="half-block left">

  </div>

  <div class="half-block right" style="background-image: url('<%= asset_path 'map.jpeg' %>')">
  </div>
</div>

<div class="progress-bottom">
  <div class='step-two'></div>
</div>
