// .background {
//   position: fixed;
//   padding: 0;
//   margin: 0;

//   top: 0;
//   left: 0;

//   width: 100%;
//   height: 100%;
//   background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('lions.png');
//   background-position: bottom;
//   background-repeat: no-repeat;
//   background-size: cover;
//   // add blur for image
//   filter: blur(5px);
//     -webkit-filter: blur(5px);
//   // remove halo that blur introduces
//   transform: scale(1.1);
//   // send background to the back
//   z-index: -1;
// }

// .confirmation-box {
//   background: linear-gradient(rgba(254, 254, 254, 0.7), rgba(254, 254, 254, 0.7));
//   padding: 20px 20px;
//   margin-top: 5rem;
//   height: 40rem;
//   width: 50vh;
//   border-radius: 10px;
// }

// .title {
//   margin-top: 2rem;
//   margin-bottom: 2rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .location {
//   margin-bottom: 1rem;
// }

// .code {
//   margin-top: 2rem;
//   margin-bottom: 1rem;
// }

// .qr-code {
//   margin-left: 50px;
// }

.copy:hover {
  opacity: 70%;
}

.copy:active {
  opacity: 100%;
}

.hidden {
  display: none
}
#confirmation-title{
  margin-bottom: 2rem;
}
#code-box{
  background-color: $mint;
  padding: 14px 26px;
  margin-bottom: 7rem;
}
.confirmation-box{
  background-color: $off-white;
  border-radius: 20px;
  &.left{
    width: 45%;
    height: 510px;
    background-position: center;
    background-size: cover;
  }

  &.right{
    width: 55%;
    margin-left: 4rem;
    margin-top: 4rem;
    h3{
      font-size: 28px;
      font-weight: 600;
    }
    h2{
      border-top-style: solid 2px $mint;
      border-top: solid 3px #6FFFA0;
      padding-top: 1rem;
      font-weight: 600;
      font-size: 32px;
      width: 92%;
    }
    h5{
      padding: 1rem 0rem;
    }
  }
}
