.join{

  &.logo{
    width: 16rem;
    padding-top: 3rem;
    padding-bottom: 6rem;
    padding-left: 2rem;
  }
  &.header{
    padding-bottom: 1rem;
  }
  &.form{
    padding-left: 5rem;

    $char-w: 1ch;
    $gap: .5*$char-w;
    $n-char: 6;
    $in-w: $n-char*($char-w + $gap);

    input {
      display: block;
      border: none;
      padding: 0;
      width: $in-w;
      background: repeating-linear-gradient(90deg,
        dimgrey 0, dimgrey $char-w,
        transparent 0, transparent $char-w + $gap)
        0 100%/ #{$in-w - $gap} 2px no-repeat;
      font: 5ch droid sans mono, consolas, monospace;
      letter-spacing: $gap;

      &:focus {
        outline: none;
        color: $green;
      }
    }
  }
  button{
    margin-top: 2rem;
    margin-left: 5rem;
  }

  &.info{
    width: 315px;
    height: 178px;
    margin-top: 6rem;
    border-radius: 20px;
    background-color: $off-white;
    padding: 1rem 1rem 1rem 2rem;

    img{
      height: 20px;
      margin-right: 12px;
      margin-left: -8px;
    }
  }
}
