.mobile-join{
  min-height: 100vh;
  margin-top: 60px;
  padding: 0px 30px;
}

.join{

  &.logo{
    height: 20px;
    margin-bottom:60px;
    margin-top: 80px;
  }
  &.header{
    padding-bottom: 1rem;
  }
  &.form{

    $char-w: 1ch;
    $gap: .5*$char-w;
    $n-char: 6;
    $in-w: $n-char*($char-w + $gap);

    input {
      display: block;
      border: none;
      padding: 0;
      width: $in-w;
      background: repeating-linear-gradient(90deg,
        dimgrey 0, dimgrey $char-w,
        transparent 0, transparent $char-w + $gap)
        0 100%/ #{$in-w - $gap} 2px no-repeat;
      font: 5ch droid sans mono, consolas, monospace;
      letter-spacing: $gap;

      &:focus {
        outline: none;
        color: $charcoal;
      }
    }
  }
  button{
    margin-top: 60px;
  }

  &.info{
    width: 315px;
    height: 178px;
    margin-top: 6rem;
    border-radius: 4px;
    background-color: $off-white;
    padding: 16px 20px;
    box-shadow: $mint 3px 3px 3px;

    img{
      height: 20px;
      margin-right: 12px;
      margin-left: -8px;
    }
  }
}
