#team-avatar{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-clip: padding-box;
  margin: 7px 0 0 5px;
  float: left;
  background-size: cover;
  background-position: center center;
}

#leaderboard-header{
  margin: 2rem 1rem 2rem 1rem;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 2px solid $orange;
}

#leaderboard-table{
  width: 100%;
}
.leaderboard{

  &.score{
    font-size: 22px;
    // padding-left: 14px;
    font-weight: 600;
  }
}
.running {
  --color: #8A91B4;
  --duration: .8s;
  transform: scale(var(--scale, 1));

  .outer {
    animation: outer var(--duration) linear infinite;

    .body {
      background: var(--color);
      height: 15px;
      width: 8px;
      border-radius: 4px;
      transform-origin: 4px 11px;
      position: relative;
      transform: rotate(32deg);
      animation: body var(--duration) linear infinite;

      &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        bottom: 16px;
        left: 0;
        position: absolute;
        background: var(--color);
      }

      .arm,
      .arm:before,
      .leg,
      .leg:before {
        content: '';
        width: var(--w, 11px);
        height: 4px;
        top: var(--t, 0);
        left: var(--l, 2px);
        border-radius: 2px;
        transform-origin: 2px 2px;
        position: absolute;
        background: var(--c, var(--color));
        transform: rotate(var(--r, 0deg));
        animation: var(--name, arm-leg) var(--duration) linear infinite;
      }

      .arm {
        &:before {
          --l: 7px;
          --name: arm-b;
        }

        &.front {
          --r: 24deg;
          --r-to: 164deg;

          &:before {
            --r: -48deg;
            --r-to: -36deg;
          }
        }

        &.behind {
          --r: 164deg;
          --r-to: 24deg;

          &:before {
            --r: -36deg;
            --r-to: -48deg;
          }
        }
      }

      .leg {
        --w: 12px;
        --t: 11px;

        &:before {
          --t: 0;
          --l: 8px;
        }

        &.front {
          --r: 10deg;
          --r-to: 108deg;

          &:before {
            --r: 18deg;
            --r-to: 76deg;
          }
        }

        &.behind {
          --r: 108deg;
          --r-to: 10deg;
          --c: none;

          &:before {
            --c: var(--color);
            --r: 76deg;
            --r-to: 18deg;
          }

          &:after {
            content: '';
            top: 0;
            right: 0;
            height: 4px;
            width: 6px;
            clip-path: polygon(2px 0, 6px 0, 6px 4px, 0 4px);
            border-radius: 0 2px 2px 0;
            position: absolute;
            background: var(--color);
          }
        }
      }
    }
  }
}

.running-button {
  span {
    display: block;
    transition: transform .4s ease;
    transform: translateX(var(--x, 0));
    padding: 0 var(--padding-x);

    &.default {
      --x: var(--default-x, 0);
    }

    &.active {
      --x: var(--active-x, -100%);
      margin-top: -23px;
    }
  }

  .running {
    --scale: .64;
    --color: #fff;
    position: absolute;
    top: 13px;
    right: 100%;
    transition: transform .4s ease;
    transform: translateX(var(--running-x, -8px)) scale(var(--scale));
  }

  &:hover {
    --b: var(--background-hover);
    --y: -2px;
    --shadow-y: 8px;
    --shadow-blur: 16px;
    --default-x: 4px;
    --running-x: var(--padding-x);
  }

  &:active {
    --y: 1px;
    --shadow-y: 4px;
    --shadow-blur: 8px;
  }

  &.active {
    --b: var(--background-active);
    --default-x: 100%;
    --active-x: -12%;
    --running-x: 108px;

    &:hover {
      --b: var(--background-active-hover);
    }
  }
}

@keyframes outer {
  50% {
    transform: translateY(0);
  }

  25%,
  75% {
    transform: translateY(4px);
  }
}

@keyframes body {
  50% {
    transform: rotate(16deg);
  }

  25%,
  75% {
    transform: rotate(24deg);
  }
}

@keyframes arm-leg {
  50% {
    transform: rotate(var(--r-to));
  }
}

@keyframes arm-b {

  30%,
  70% {
    transform: rotate(var(--r-to));
  }
}
