// game details / info
.mobile-game{
  position: relative;
  h1{
    font-size: 16px;
    font-weight: 800;
  }
  h2{
    font-size: 15px;
    font-weight: 600;

  }
}
.mobile-game-header{
  position: fixed;
  z-index:1000;
  background-color: $off-white;
  top: 2%;
  left: 2%;
  // border-radius: 20px;
  border: $charcoal 1px solid;
  padding: 8px 16px;
}
.mobile-game-map{
  width: 100vw;
  height: 100vh;
  margin: 0 !important;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}
