.mobile-header{
  width: 429px;
  height: 360px;
  background-position: center;
  background-size: cover;

  h1{
    text-align: center;
    padding: 6rem 2rem 0rem 2rem;
    font-size: 42px;
    font-weight: 800;
    color: $mint;
  }
}

.game-status{
  padding-left: 12px;
  padding-top: 3rem;

  &.started{

    h2{
      font-size: 68px;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    p{
      font-size: 24px;
      margin-bottom: 2rem;
      padding-left: 1rem;
    }

    .button.beige{
      font-size: 24px;
      margin-left: 11rem;
    }
  }

  &.over{

    h2{
      font-size: 58px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p{
      font-size: 24px;
      margin-bottom: 2rem;
      padding-left: 1rem;
    }
  }

  &.upcoming{

    h2{
      font-size: 58px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p{
      font-size: 18px;
      margin-bottom: 2rem;
      padding-left: 1rem;
    }
    h3{
      font-size: 16px;
      text-align: center;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    #clockdiv{
      p{
        margin-bottom: 2rem;
      }
    }
  }
}
