.mobile-header{
  height: 360px;
  background-position: center;
  background-size: cover;

  h1{
    font-size: 36px;
    font-weight: 800;
    color: $charcoal;
    padding: 60px 30px 0px 30px;
  }

}
.game-status-heading{
  border-bottom: 12px RGBA(110, 255, 161, 0.6) solid;
  padding-bottom: 16px;
  margin-bottom: 16px;
  color: $charcoal;

}

.game-status{
  padding: 30px 30px;
  padding-top: 60px;

  &.started{

    h2{
      font-size: 68px;
      font-weight: 600;
      margin-bottom: 1rem;
    }

    p{
      font-size: 24px;
    }

    .button.beige{
      font-size: 24px;

    }
  }

  &.over{

    h2{
      font-size: 58px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p{
      font-size: 24px;
      margin-bottom: 2rem;
      margin-top: 20px;
    }
  }

  &.upcoming{

    h2{
      font-size: 58px;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    p{
      font-size: 18px;
      margin-bottom: 2rem;

    }
    h3{
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    #clockdiv{
      span{
        font-size: 26px;
        font-weight: 600;
      }
      background-color: $off-white;
      padding: 6px 18px;
      text-align: center;
      box-shadow: $mint 3px 3px;
    }
  }
}
#mobile-game-time{
  margin-top: 16px;
}
