.button {
  padding: 8px 24px;
  width: 188px;
  height: 37px;
  border-radius: 5px;

  &.beige{
    color: $green;
    font-weight: 600;
    background: $off-white;
    border: solid 1px $green;
  }

  &.green{
    color: $charcoal;
    background: $mint;
  }
}
