a{
  color: $charcoal;

}
a:hover{
  color: $charcoal;

}
.game-col  {
  margin-bottom: 12px;
  margin-top: 12px;
}
.card-body{
  h3{
    font-weight: 600;
  }
}

.card-time {
  color: $charcoal;
}

.card-date {
  color: $charcoal;
}

.card {
  border-radius: 20px;
  overflow: hidden;
  width: 338px;
  height: 402px;
  border: none;
}
.completed{
  opacity: 0.6;
  background: rgba(106, 106, 106, 0.65);
}

.card img{
  position: relative;
}

.status{
  border-radius: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $charcoal;

  &.today{
    padding: 8px 24px;
    width: 101px;
    height: 46px;
    background-color: $mint;
    left: 222px;
    top: 10px;
  }

  &.upcoming{
    width: 137px;
    height: 46px;
    background-color: $beige;
    left: 188px;
    top: 14px;
  }
}

.game-code{
  background-color: black;
  text-align: center;
  margin-top: 14px;
  width: 228px;
  height: 36px;
  h4{
    padding-top: 5px;
    color: $off-white;
  }
}

#publish{
  padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
}
