a{
  color: $charcoal;

}
a:hover{
  color: $charcoal;

}
.game-col  {
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 12px !important;
}
.card-body{
  h3{
    font-weight: 600;
  }
}

.card-time {
  color: $charcoal;
}

.card-date {
  color: $charcoal;
}
.card-row{
  padding: 0 !important;
}
.card {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  height: 370px;
  border: none;
  position: relative;

  &:hover{
    box-shadow: #9f9f9f 2px 2px 6px;
    transition: ease-in-out;
  }
}

.completed{
  height: 100%;
  position: absolute;
  z-index: 10;
  border-radius: 4px;
  width: 100%;
  opacity: 0.2;
  background: rgb(0, 0, 0);
}

.card img{
  position: relative;
  width: 100%;
  height: 200px;
}

.status{
  border-radius: 4px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $charcoal;

  &.today{
    width: 137px;
    height: 46px;
    background-color: $mint;
    left: 50%;
    top: 14px;
  }

  &.today-timer {
    padding: 8px 24px;
    width: 180px;
    height: 46px;
    background-color: $mint;
    left: 36%;
    top: 14px;
  }

  &.upcoming{
    width: 137px;
    height: 46px;
    background-color: $beige;
    left: 50%;
    top: 14px;
  }
}

.game-code{
  background-color: black;
  text-align: center;
  margin-top: 14px;
  width: 260px;
  height: 36px;
  h4{
    padding-top: 5px;
    color: $off-white;
  }
}

#publish{
  padding-top: 10px;
    margin-top: 0;
    margin-bottom: 0;
    text-decoration: underline;
}
