// logged out

.navbar {
  .logo-nav{
    width: 120px;
  }

  background: $off-white;
  position: fixed;
  z-index: 1000;
  width: 96vw;
  left: 2vw;
  top: 1.5vh;
  border-radius: 10px;

  &.items{
    padding-left: 24px;
    padding-right: 24px;
  }
  ul{
    display: flex;
    margin:auto
  }
  li{
    list-style: none;
    text-decoration: none;
    margin: 20px 8px;
    a{
      color: $charcoal;
    }
  }
}
