.navbar-trace {
  background: $off-white;
  ul{
    display: flex;
    margin:auto
  }
  li{
    list-style: none;
    text-decoration: none;
    margin: 0px 8px;
    a{
      color: $charcoal;
    }
  }
}
