.progress-bottom{
  height: 1.5vh;
  top: 98.5vh;
  width: 100vw;
  position: fixed;
  z-index: 100;

  .step-one{
    height: 100%;
    width: 33%;
    background-color: $mint;
  }

  .step-two{
    height: 100%;
    width: 66%;
    background-color: $mint;
  }

  .step-three{
    height: 100%;
    width: 100%;
    background-color: $mint;
  }
}
