.form {
  position: relative;
  width: 338px;
}

.form .fa-search {
  position: absolute;
  top: 14px;
  left: 28px;
}

.form-input {
  padding: 10px;
  text-indent: 33px;
  border-radius: 26px;
  background-color: $off-white;
}

.form-input:focus {
  box-shadow: none;
  border: none;
}
