.user-show{
  background-color: $beige;
  margin-bottom: 124px;
  margin-top: 124px;

}

.dashboard-heading{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dashboard-header-right{
  margin-top: 10px;
  display: inline-flex;
  flex-direction: row;
  .button{
    width: 100%;
    height: 42px;
  }
}
#dashboard-header{
  font-weight: 700;
  font-size: 60px;

}
.card-row{
  padding-left: 123px;
  padding-right: 123px;
}
