.user-show{
  background-color: $beige;
  margin-bottom: 124px;
  margin-top: 124px;

}
#dashboard-header{
  font-weight: 700;
  font-size: 60px;
  padding-right: 400px;

}
.card-row{
  padding-left: 123px;
  padding-right: 123px;
}
